body{
    font-family: Helvetica, sans-serif;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 1.2em;
}
.encendido {
    font-size: 0.5em;
    background-color: rgb(35, 111, 243);
    color: white;
    padding: 8px;
    border-radius: 10px;
    border: 4px solid rgb(23, 88, 199);
}
.apagado{
    font-size: 0.5em;
    background-color: rgb(255, 166, 0);
    color: white;
    padding: 8px;
    border-radius: 10px;
    border: solid rgb(203, 134, 6);
}